@media only screen and (min-width: 75rem) {
  section.categories .categories-container {
    padding: 0rem 7.5rem;
  }
}
@media only screen and (max-width: 75rem){
  header h2.header-title{
    font-size: 40px;
   
  }
  header p.header-p{
    font-size: 0.875rem;
  }
}
@media only screen and (max-width: 36rem){
  header h2.header-title{
    font-size: 2.5rem;
   
  }
  header p.header-p{
    font-size: 0.875rem;
  }
}

 @media only screen and (max-width: 62rem) {
  section.content-container{
    height: 150vh;
    background-size: 350% auto;
    background-position: -950px -21.875rem;
    padding: 50px 0rem;
  }
  section .content-section {
    margin-bottom: 0rem;

 }
 .padding-end{
  padding-right: 21.875rem;
 }
 }